
# Node.js
node_modules
.env
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
.pnpm-store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode
.vscode/

# Gemini CLI
.gemini/

# Database files
instance/*.db
golfapp-server/instance/