.course-manager {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.course-manager h2,
.course-manager h3 {
  color: #333;
}

.course-manager input[type="text"],
.course-manager input[type="number"] {
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px; /* Added margin-bottom for inputs */
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Table styles */
.course-table {
  width: 700px; /* Fixed width for the table */
  margin: 0 auto; /* Center the table */
  border-collapse: collapse;
  table-layout: fixed; /* Ensure column widths are respected */
}

.course-table td {
  border: none; /* Make borders invisible */
  padding: 8px; /* Adjust padding as needed */
  text-align: left; /* Align content to the left */
  vertical-align: middle; /* Center content vertically */
}

.course-table td:nth-child(1) {
  width: 77%; /* Increased width for name and details column */
}

.course-table td:nth-child(2) {
  width: 15%; /* Reduced width for edit button column */
}

.course-table td:nth-child(3) {
  width: 8%; /* Keep same width */
}

/* Button styles (retained from previous) */
.initiate-scoring-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.initiate-scoring-button:hover {
  background-color: #45a049;
}

.course-manager .initiate-scoring-button {
    padding: 5px 10px;
    font-size: 12px;
}

@media (max-width: 768px) {
  .course-manager .course-form-main-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .course-manager .course-form-main-inputs input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 80%;
  }

  .course-manager .hole-details-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .course-table {
    width: 100%;
  }

  .course-table thead {
    display: none;
  }

  .course-table tr {
    display: block;
    margin-bottom: 15px;
    border: 1px solid #ddd;
  }

  .course-table td {
    display: block;
    text-align: right;
    border-bottom: 1px dotted #ccc;
  }

  .course-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }

  .course-table td:last-child {
    border-bottom: 0;
  }
}

@media (max-width: 480px) {
  .course-manager .hole-details-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .course-manager .hole-details-grid h4 {
    font-size: 1rem;
    margin: 5px 0;
  }

  .course-manager .hole-details-grid input {
    width: 90%;
    padding: 5px;
  }
}

