body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important; /* Apply Poppins globally */
  font-weight: 100 !important; /* Apply Thin font weight */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
